<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <br/>
		<a href="http://www.computational-psychiatry.com/" target="_blank"><img src="cpl-logo.png" alt="The Computational Psychiatry Lab"></a>
        <!--<h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}-->
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
        {% if site.show_downloads %}
          <!--<li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>-->
          <!--<li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>-->
          <li><a href="{{ site.github.repository_url }}/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.repository_url }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

	  <br/>
      </section>
    </div>
    <footer>
       <table style="width:100%;border-style:none;">
        <tr style="border-style:none;">
          <td style="width:33%;text-align:center;border-style:none;">
		    <a href="http://in.bgu.ac.il/en/" target="_blank"><img src="bgu-logo.png" alt="Ben-Gurion University of the Negev"></a>
          </td>
          <td style="width:33%;text-align:center;border-style:none;">
		    <a href="http://in.bgu.ac.il/en/zlotowski/" target="_blank"><img src="zlotowski-logo.png" alt="Zlotowski Center for Neuroscience"></a>
          </td>
          <td style="width:33%;text-align:center;border-style:none;">
		    <a href="http://in.bgu.ac.il/en/robotics/" target="_blank"><img src="abc-logo.png" alt="ABC Robotics Initiative – Agricultural, Biological and Cognitive"></a>
          </td>
		</tr>
      </table>
	  {% if site.github.is_project_page %}
	    <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>|<a href="http://www.computational-psychiatry.com">Computational Psychiatry Lab</a></p>
          {% endif %}
	  <p>Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>|Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
